.upload-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #c3cad5;;
    border-radius: 5px;
    background-color: #c3cad5;;
  }
  
  .upload-title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    color: #2e5b85; /* Blue color for the title */
  }
  
  .upload-form {
    display: flex;
    flex-direction: column;
  }
  
  .upload-form label {
    margin-bottom: 5px;
  }
  
  .upload-form input[type='text'],
  .upload-form input[type='number'],
  .upload-form select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;
  }
  
  .upload-form input[type='file'] {
    
    display: none;
  }
  
  .upload-form button {
    padding: 10px 20px;
    background-color: #1890ff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .upload-form button:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
  
  .error-message {
    margin-top: 10px;
    padding: 10px;
    border-radius: 3px;
    background-color: #ffcccc;
  }
  
  .success-message {
    margin-top: 10px;
    padding: 10px;
    border-radius: 3px;
    background-color: #ccffcc;
  }
  
  .custom-file-upload {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 6px 12px;
    background-color: #fff;
    color: #007bff;
    text-align: center;
    cursor: pointer;
    display: inline-block;
  }
  
  .custom-file-upload:hover {
    background-color: #f0f0f0;
  }
  
  .file-input {
    display: inline-block;
    width: calc(100% - 110px); /* Adjust width to your preference */
  }

  

  .upload-form .file-input-container .file-name-container {
    flex: 1;
    margin-left: 10px;
  }
  
  .upload-form .file-input-container .file-name {
    display: block;
    padding: 10px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  