.profile {
    display: flex;
}

.profileRight {
    flex: 9;
}

.profileCover {
    height: 320px;
    position: relative;
}

.profileCoverImg {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.profileUserImg {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 250px;
    border: 3px solid rgb(96, 240, 151);
    background-color: white;
}

.profileInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px; /* Add some top margin if needed */
}

.profileInfoWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.profileInfoName {
    font-size: 24px;
    margin-left: 10px; /* Add some space between animation and name */
}

.profileInfoDesc {
    font-weight: 300;
}

.profileRightBottom {
    display: flex;
}

/* profile.css */

/* General styles */

/* Styles for large screens (desktops) */
@media (min-width: 1024px) {
    /* Add your existing styles for large screens here */
  }
  
  /* Styles for medium screens (tablets) */
  @media (max-width: 1023px) {
    .expandSidebarButton {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        z-index: 999; /* Ensure the button is above other elements */
        background-color: rgb(255, 255, 255);
        border: 1px solid #ffffff;
        border-radius: 50%;
        padding: 8px;
      }

      .expandSidebarButton svg {
        width: 16px;
        height: 16px;
        fill: #333;
      }

    .profile {
      padding-top: 60px; /* Adjust as needed */
      flex-direction: column;
      align-items: center;
    }
  
    .profileRight {
      max-width: 100%;
      width: 100%;
    }
  
    .profileRightTop {
      width: 100%;
    }
  
    .profileRightBottom {
      width: 100%;
    }
  
    /* Hide the sidebar by default */
    .sidebar {
      display: none;
    }
  
    /* Style the expand button */
    .expandSidebarButton {
      display: block;
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }
  
    /* Show the sidebar when expanded */
    .expandSidebarButton.expanded + .sidebar {
      display: block;
    }
  
    /* Other styles for medium screens */
  }
  
  /* Styles for small screens (mobile devices) */
  @media (max-width: 767px) {
    /* Adjustments for the profile section */
    .profile {
      padding-top: 40px; /* Adjust as needed */
    }
  
    /* Other styles for small screens */
  }

  
